/* main base.html */

.mainContainer {
    padding: 20px 80px;
}

.bg_wallpaper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg.png");
    /* height: 50%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar-brand img {
    height: 50px;
}

.nav-link:link {
    color: black !important;
}

.nav-link:hover {
    color: #dc3545 !important;
}


/* index and profile both */

@media(max-width:567px) {
    .navbar .nav-item {
        padding-left: 15px;
    }
    .mainContainer {
        padding: 10px 30px;
    }
    .card-columns {
        column-count: 2 !important;
    }
    .user_setting {
        display: none;
    }
    .create_post i,
    .user_setting i {
        color: #4d4c4c !important;
    }
}

.card-columns {
    column-count: 6;
}

.card-columns .card {
    border-radius: 10px !important;
    width: 100% !important;
    display: inline-block;
}

.card-columns .card img {
    border-radius: 10px !important;
    object-fit: cover;
}

.create_post {
    background: white;
    position: fixed;
    border-radius: 50%;
    right: 15px;
    z-index: 10000;
}

.user_setting {
    background: white;
    position: fixed;
    border-radius: 50%;
    right: 15px;
    top: 150px;
    z-index: 10000;
}

.user_setting i {
    font-size: 35px;
    color: black;
}

.create_post i {
    font-size: 35px;
    color: black;
}

.create_post i:hover,
.user_setting i:hover {
    color: rgb(207, 16, 16);
}


/* profile */

.profile_card .card {
    border: 1px solid #dc3545 !important;
}

.profile_card .card img {
    border-radius: 0px !important;
}

.profile_card .card-header {
    color: black !important;
}

.profile_card .btn-outline-danger {
    width: 100% !important;
}


/* each meme show */

.each_meme img {
    width: 100%;
}

.each_meme {
    padding: 20px;
    margin-top: 20px;
    background: #f8f8f8;
}

.each_meme_author {
    margin-top: 10px;
}

.each_meme_author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}


/* login, profile, account form */

.create_meme_style .create_meme_form,
.account_style .account_form,
.login_style .login_form,
.register_style .register_form {
    margin-top: 40px;
    background: #f8f8f8;
    padding: 10px 20px 30px 20px;
    border-radius: 10px;
    border: 1px solid #c51a1d !important;
}

.account_form img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.register_form img,
.login_form img {
    text-align: center;
    width: 100%;
}


/* create meme */

.notMemeMsg {
    border-radius: 10px;
}


/* about */

.created_by img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}