@media(max-width:567px) {
    .card-columns {
        column-count: 2 !important;
    }
}

.card-columns {
    column-count: 4;
}

.card-columns .card {
    border-radius: 10px !important;
    width: 100% !important;
    display: inline-block;
}

.card-columns .card img {
    border-radius: 10px !important;
    object-fit: cover;
}